.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  padding: 0 18px;
  height: 40px;
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--color-cach);

  &--isIcon {
    padding: 0;
    width: 40px;
  }

  &__icon {
    --size: 20px;

    width: var(--size);
    height: var(--size);
  }
}
