<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#FAF5F0">
  <link rel="icon" sizes="16x16" href="./favicon-16.png">
  <link rel="icon" sizes="32x32" href="./favicon-32.png">
  <link rel="icon" sizes="48x48" href="./favicon-48.png">
  <link rel="icon" sizes="64x64" href="./favicon-64.png">
  <link rel="icon" sizes="128x128" href="./favicon-128.png">
  <link rel="icon" sizes="192x192" href="./favicon-192.png">
  <link rel="icon" sizes="256x256" href="./favicon-256.png">
  <link rel="icon" href="./favicon-48.ico" type="icon/x-icon">
  <link rel="icon" href="./favicon-48.svg" type="icon/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon-512.png">
  <title>Ангел Concept</title>
  <meta name="keywords" content="Ангел Concept">
  <meta name="description" content="Ангел Concept — центр премиального ухода и косметологии в Ставрополе">
  <link rel="manifest" href="./manifest.json">
  <link rel="preload" href="./fonts/GTEestiProText-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/KyivTypeSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/KyivTypeSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="./css/vendor.css">
  <link rel="stylesheet" href="./css/main.css">
  <script defer src="./js/main.js"></script>
</head>
