<section class="services container section">
  <div class="section__title">
    <span class="section__title__tag" id="services">Услуги</span>
    <h2 class="section__title__text">Преображение<br>с изысканностью</h2>
    <p class="section__title__description">Эксклюзивные процедуры от Ангел Concept</p>
  </div>

  <div class="services__swapper" aria-labelledby="services">
    <ul class="services__list list-reset">
      <li class="services__list__item">
        <a class="card" href="#" aria-label="Косметология лица">
          <div class="card__inner card__inner--background-facial-cosmetology">
            <span class="card__title" title="Косметология лица">Косметология лица</span>
            <ul class="card__tags tags list-reset">
              <li class="card__tags__tag tags__tag" title="Нитевой лифтинг">Нитевой лифтинг</li>
              <li class="card__tags__tag tags__tag" title="Консультация">Консультация</li>
              <li class="card__tags__tag tags__tag" title="Эстетические процедуры">Эстетические процедуры</li>
              <li class="card__tags__tag tags__tag" title="Инъекционная">Инъекционная</li>
              <li class="card__tags__tag tags__tag" title="Инъекционная">Инъекционная</li>
              <li class="card__tags__tag tags__tag" title="Аппаратная">Аппаратная</li>
              <li class="card__tags__tag tags__tag" title="12+">12+</li>
            </ul>
            <span class="card__buttons" aria-hidden="true">
              @include('./button-arrow.html')
            </span>
          </div>
        </a>
      </li>
      <li class="services__list__item">
        <a class="card card--solid-background" href="#" aria-label="Коррекция фигуры">
          <div class="card__inner card__inner--background-body-shaping">
            <span class="card__title" title="Коррекция фигуры">Коррекция фигуры</span>
            <ul class="card__tags tags list-reset">
              <li class="card__tags__tag tags__tag" title="Программы утончения силуэта">Программы утончения силуэта</li>
              <li class="card__tags__tag tags__tag" title="Аппаратные методики">Аппаратные методики</li>
              <li class="card__tags__tag tags__tag" title="Гидротерапия">Гидротерапия</li>
            </ul>
            <span class="card__buttons" aria-hidden="true">
              @include('./button-arrow.html')
            </span>
          </div>
        </a>
      </li>
      <li class="services__list__item">
        <a class="card" href="#" aria-label="SPA & Thai">
          <div class="card__inner card__inner--background-spa-thai">
            <span class="card__title" title="SPA & Thai">SPA & Thai</span>
            <ul class="card__tags tags list-reset">
              <li class="card__tags__tag tags__tag" title="Тайские техники">Тайские техники</li>
              <li class="card__tags__tag tags__tag" title="Балийские традиции">Балийские традиции</li>
            </ul>
            <span class="card__buttons" aria-hidden="true">
              @include('./button-arrow.html')
            </span>
          </div>
        </a>
      </li>
      <li class="services__list__item services__list__item--size-half">
        <a class="card card--solid-background" href="#" aria-label="Beauty-услуги">
          <div class="card__inner card__inner--background-beauty-services">
            <span class="card__title" title="Beauty-услуги">Beauty-услуги</span>
            <ul class="card__tags tags list-reset">
              <li class="card__tags__tag tags__tag" title="Парикмахерский сервис">Парикмахерский сервис</li>
              <li class="card__tags__tag tags__tag" title="Ногтевой сервис">Ногтевой сервис</li>
            </ul>
            <span class="card__buttons" aria-hidden="true">
              @include('./button-more.html') @include('./button-arrow.html')
            </span>
          </div>
        </a>
      </li>
      <li class="services__list__item services__list__item--size-half">
        <a class="card" href="#" aria-label="SPA & Wellness">
          <div class="card__inner card__inner--background-spa-wellness">
            <span class="card__title" title="SPA & Wellness">SPA & Wellness</span>
            <ul class="card__tags tags list-reset">
              <li class="card__tags__tag tags__tag" title="Европейские массажи">Европейские массажи</li>
              <li class="card__tags__tag tags__tag" title="Талассотерапия">Талассотерапия</li>
              <li class="card__tags__tag tags__tag" title="Специальные SPA-программы">Специальные SPA-программы</li>
              <li class="card__tags__tag tags__tag" title="Thermo SPA">Thermo SPA</li>
              <li class="card__tags__tag tags__tag" title="Жемчужная гидромассажная ванна">Жемчужная гидромассажная ванна</li>
              <li class="card__tags__tag tags__tag" title="+3">+3</li>
            </ul>
            <span class="card__buttons" aria-hidden="true">
              @include('./button-arrow.html')
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
